@charset "utf-8";
/* CSS Document */
/* 
Define this in your CSS 
.bgColor = Replace it by the name you want to give your animation
.bgAnimObj = Assign this class to the object you want to apply the effect
*/

.bgAnimObj {
    background: linear-gradient(to bottom right, #607d8b 0%, #7893a1 20%, #96abb6 40%, #b4c3cb 60%, #d2dbe0 80%, #f0f3f5 100%);
    /* Chrome, Safari */
    -webkit-animation: bgColor 10s;
    /* Firefox */
    -moz-animation: bgColor 10s;
    /* Standard Syntax */
    animation: bgColor 10s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -o-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-direction: reverse;
    -moz-animation-direction: reverse;
    -o-animation-direction: reverse;
    animation-direction: reverse;
    -webkit-animation-play-state: running;
    -moz-animation-play-state: running;
    -o-animation-play-state: running;
    animation-play-state: running;
}

/* 
Define the keyframe and changes
*/

/* Chrome, Safari */
@-webkit-keyframes bgColor {
    0% {
        background: linear-gradient(to bottom right, #2a363c 0%, #34444b 20%, #3f515a 40%,#495f69 60%,  #546c78 80%, #5e7a87 100%);
    }
    20% {
        background: linear-gradient(to bottom right, #1f292d 0%, #2a363c 20%, #34444b 40%, #3f515a 60%, #495f69 80%, #546c78 100%);
    }
    40% {
        background: linear-gradient(to bottom right, #151b1e 0%, #1f292d 20%, #2a363c 40%, #34444b 60%,  #3f515a 80%, #495f69 100%);
    }
    60% {
        background: linear-gradient(to bottom right, #0a0e0f 0%, #151b1e 20%, #1f292d 40%, #2a363c 60%, #34444b 80%, #3f515a 100%);
    }
    100% {
        background: linear-gradient(to bottom right, #000000 0%, #0a0e0f 20%, #151b1e 40%, #1f292d 60%, #2a363c 80%, #34444b 100%);
    }
}

/* Firefox */
@-moz-keyframes bgColor {
    0% {
        background: linear-gradient(to bottom right, #2a363c 0%, #34444b 20%, #3f515a 40%,#495f69 60%,  #546c78 80%, #5e7a87 100%);
    }
    20% {
        background: linear-gradient(to bottom right, #1f292d 0%, #2a363c 20%, #34444b 40%, #3f515a 60%, #495f69 80%, #546c78 100%);
    }
    40% {
        background: linear-gradient(to bottom right, #151b1e 0%, #1f292d 20%, #2a363c 40%, #34444b 60%,  #3f515a 80%, #495f69 100%);
    }
    60% {
        background: linear-gradient(to bottom right, #0a0e0f 0%, #151b1e 20%, #1f292d 40%, #2a363c 60%, #34444b 80%, #3f515a 100%);
    }
    100% {
        background: linear-gradient(to bottom right, #000000 0%, #0a0e0f 20%, #151b1e 40%, #1f292d 60%, #2a363c 80%, #34444b 100%);
    }
}

/* Standard syntax */
@keyframes bgColor {
    0% {
        background: linear-gradient(to bottom right, #2a363c 0%, #34444b 20%, #3f515a 40%,#495f69 60%,  #546c78 80%, #5e7a87 100%);
    }
    20% {
        background: linear-gradient(to bottom right, #1f292d 0%, #2a363c 20%, #34444b 40%, #3f515a 60%, #495f69 80%, #546c78 100%);
    }
    40% {
        background: linear-gradient(to bottom right, #151b1e 0%, #1f292d 20%, #2a363c 40%, #34444b 60%,  #3f515a 80%, #495f69 100%);
    }
    60% {
        background: linear-gradient(to bottom right, #0a0e0f 0%, #151b1e 20%, #1f292d 40%, #2a363c 60%, #34444b 80%, #3f515a 100%);
    }
    100% {
        background: linear-gradient(to bottom right, #000000 0%, #0a0e0f 20%, #151b1e 40%, #1f292d 60%, #2a363c 80%, #34444b 100%);
    }
}

/* 
Define this in your CSS 
.easeAnimation = Replace it by the name you want to give your animation
.easeAnimObj = Assign this class to elements to which you intend to apply the animation
*/

.easeAnimObj {
    position: relative;
    /* Chrome, Safari*/
    -webkit-animation-name: easeAnimation;
    -webkit-animation-duration: 5s;
    -webkit-animation-timing-function: ease;
    -webkit-animation-delay: 2s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    -webkit-animation-play-state: running;
    /* Mozilla */
    -moz-animation-name: easeAnimation;
    -moz-animation-duration: 5s;
    -moz-animation-timing-function: ease;
    -moz-animation-delay: 2s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-direction: alternate;
    -moz-animation-play-state: running;
    /* Standard syntax */
    animation-name: easeAnimation;
    animation-duration: 5s;
    animation-timing-function: ease;
    animation-delay: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-play-state: running;
}

/* 
Define the keyframe and changes
*/

/* Chrome, Safari */
@-webkit-keyframes easeAnimation {
    0% {
        left: 0;
        top: 0;
    }
    100% {
        left: 200px;
        top: 0;
    }
}

/* Firefox */
@-moz-keyframes easeAnimation {
    0% {
        left: 0;
        top: 0;
    }
    100% {
        left: 200px;
        top: 0;
    }
}

/* Standard syntax */
@keyframes easeAnimation {
    0% {
        left: 0;
        top: 0;
    }
    100% {
        left: 200px;
        top: 0;
    }
}

/* 
Define this in your CSS 
infoViewRight = Replace it by the name you want to give your animation
*/

.animation {
    -webkit-animation: infoViewRight 3s infinite;
    -moz-animation: infoViewRight 3s infinite;
    animation: infoViewRight 3s infinite;
}

/* Chrome, Safari */
@-webkit-keyframes infoViewRight {
    0% {
        right: 0;
        opacity: 0;
    }
    50% {
        /* Add some property like - color: #16F1C6;*/
    }
    100% {
        right: -1000px;;
        opacity: 1;
    }
}

/* Firefox */
@-moz-keyframes infoViewRight {
    0% {
        right: 0;
        opacity: 0;
    }
    50% {
        /* Add some property like - color: #16F1C6;*/
    }
    100% {
        right: -1000px;;
        opacity: 1;
    }
}

/* Standard Syntax */
@keyframes infoViewRight {
    0% {
        right: 0;
        opacity: 0;
    }
    50% {
        /* Add some property like - color: #16F1C6;*/
    }
    100% {
        right: -1000px;;
        opacity: 1;
    }
}

.slideUp {
    -webkit-animation: slideUpAnim 1s;
    -moz-animation: slideUpAnim 1s;
    animation: slideUpAnim 1s;
    visibility: visible;
}

/* Chrome, Safari */
@-webkit-keyframes slideUpAnim {
    0% {
        opacity: 0;
        -webkit-transform: translateY(100%);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0%);
    }
}

/* Firefox */
@-moz-keyframes slideUpAnim {
    0% {
        opacity: 0;
        -moz-transform: translateY(100%);
    }
    100% {
        opacity: 1;
        -moz-transform: translateY(0%);
    }
}

/* Standard Syntax */
@keyframes slideUpAnim {
    0% {
        opacity: 0;
        -webkit-transform: translateY(100%);
        -moz-transform: translateY(100%);
        -ms-transform: translateY(100%);
        -o-transform: translateY(100%);
        transform: translateY(100%);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0%);
        -moz-transform: translateY(0%);
        -ms-transform: translateY(0%);
        -o-transform: translateY(0%);
        transform: translateY(0%);
    }
}

.showLogo {
    -webkit-animation: showLogoAnim 1.5s;
    -moz-animation: showLogoAnim 1.5s;
    animation: showLogoAnim 1.5s;
    visibility: visible;
}

/* Chrome, Safari */
@-webkit-keyframes showLogoAnim {
    0% {
        opacity: 0;
        -webkit-transform: translateY(70%);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0%);
    }
}

/* Firefox */
@-moz-keyframes showLogoAnim {
    0% {
        opacity: 0;
        -moz-transform: translateY(70%);
    }
    100% {
        opacity: 1;
        -moz-transform: translateY(0%);
    }
}

/* Standard Syntax */
@keyframes showLogoAnim {
    0% {
        opacity: 0;
        -webkit-transform: translateY(70%);
        -moz-transform: translateY(70%);
        -ms-transform: translateY(70%);
        -o-transform: translateY(70%);
        transform: translateY(70%);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0%);
        -moz-transform: translateY(0%);
        -ms-transform: translateY(0%);
        -o-transform: translateY(0%);
        transform: translateY(0%);
    }
}

.hideLogo {
    -webkit-animation: hideLogoAnim 1.5s both;
    -moz-animation: hideLogoAnim 1.5s both;
    animation: hideLogoAnim 1.5s both;
    visibility: visible;
}

/* Chrome, Safari */
@-webkit-keyframes hideLogoAnim {
    0% {
        opacity: 1;
        -webkit-transform: translateY(0%);
    }
    100% {
        opacity: 0;
        -webkit-transform: translateY(70%);
        visibility: hidden;
    }
}

/* Firefox */
@-moz-keyframes hideLogoAnim {
    0% {
        opacity: 1;
        -moz-transform: translateY(0%);
    }
    100% {
        opacity: 0;
        -moz-transform: translateY(70%);
        visibility: hidden;
    }
}

/* Standard Syntax */
@keyframes hideLogoAnim {
    0% {
        opacity: 1;
        -webkit-transform: translateY(0%);
        -moz-transform: translateY(0%);
        -ms-transform: translateY(0%);
        -o-transform: translateY(0%);
        transform: translateY(0%);
    }
    100% {
        opacity: 0;
        -webkit-transform: translateY(70%);
        -moz-transform: translateY(70%);
        -ms-transform: translateY(70%);
        -o-transform: translateY(70%);
        transform: translateY(70%);
        visibility: hidden;
    }
}

/*
Define this in your CSS 
introAnim = Replace it by the name you want to give your animation
*/

/* Chrome, Safari */
@-webkit-keyframes introAnim {
    0% {
        opacity: 1;
        background-color: black;
    }
    20% {
        opacity: 1;
        background-color: black;
    }
    40% {
        opacity: 1;
    }
    60% {
        opacity: .7;
    }
    80% {
        opacity: 0.4;
    }

    100% {
        opacity: 0;
        visibility: hidden;
        background-color: rgba(255, 255, 255, 0.46);
    }
}

/* Firefox */
@-moz-keyframes introAnim {
    0% {
        opacity: 1;
        background-color: black;
    }
    20% {
        opacity: 1;
        background-color: black;
    }
    40% {
        opacity: 1;
    }
    60% {
        opacity: .7;
    }
    80% {
        opacity: 0.4;
    }

    100% {
        opacity: 0;
        visibility: hidden;
        background-color: rgba(255, 255, 255, 0.46);
    }
}

/* Standard Syntax */
@keyframes introAnim {
    0% {
        opacity: 1;
        background-color: black;
    }
    20% {
        opacity: 1;
        background-color: black;
    }
    40% {
        opacity: 1;
    }
    60% {
        opacity: .7;
    }
    80% {
        opacity: 0.4;
    }

    100% {
        opacity: 0;
        visibility: hidden;
        background-color: rgba(255, 255, 255, 0.46);
    }
}

.intro {
    -webkit-animation: introAnim 5s both;
    -moz-animation: introAnim 5s both;
    animation: introAnim 5s both;
}

/* 
Define this in your CSS 
shakeyAnim = Replace it by the name you want to give your animation
*/

/* Chrome, Safari */
@-webkit-keyframes shakeyAnim {
    0% {
        -webkit-transform: rotate(3deg);
    }
    1% {
        -webkit-transform: rotate(-3deg);
    }
    2% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(0deg);
    }
}

/* Firefox */
@-moz-keyframes shakeyAnim {
    0% {
        -moz-transform: rotate(3deg);
    }
    1% {
        -moz-transform: rotate(-3deg);
    }
    2% {
        -moz-transform: rotate(0deg);
    }
    100% {
        -moz-transform: rotate(0deg);
    }
}

/* Standard Syntax */
@keyframes shakeyAnim {
    0% {
        -webkit-transform: rotate(3deg);
        -moz-transform: rotate(3deg);
        -ms-transform: rotate(3deg);
        -o-transform: rotate(3deg);
        transform: rotate(3deg);
    }
    .5% {
        color: #ffa8b1;
    }
    1% {
        -webkit-transform: rotate(-3deg);
        -moz-transform: rotate(-3deg);
        -ms-transform: rotate(-3deg);
        -o-transform: rotate(-3deg);
        transform: rotate(-3deg);
    }
    2% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
}

.shakeUp {
    -webkit-animation: shakeyAnim 3s infinite alternate;
    -moz-animation: shakeyAnim 3s infinite alternate;
    animation: shakeyAnim 3s infinite alternate;
    color: white;
}

.letter {
    display: inline-block;
    position: relative;
    float: none;
    -webkit-transform: translateZ(25px);
    transform: translateZ(25px);
    -webkit-transform-origin: 50% 50% 25px;
    transform-origin: 50% 50% 25px;
}

.letter.out {
    -webkit-transform: rotateX(90deg);
    transform: rotateX(90deg);
    -webkit-transition: -webkit-transform 0.32s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    transition: -webkit-transform 0.32s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    transition: transform 0.32s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    transition: transform 0.32s cubic-bezier(0.55, 0.055, 0.675, 0.19), -webkit-transform 0.32s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.letter.behind {
    -webkit-transform: rotateX(-90deg);
    transform: rotateX(-90deg);
}

.letter.in {
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
    -webkit-transition: -webkit-transform 0.38s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition: -webkit-transform 0.38s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition: transform 0.38s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition: transform 0.38s cubic-bezier(0.175, 0.885, 0.32, 1.275), -webkit-transform 0.38s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}